*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/pizza2.avif");
    background-size: cover;
    background-repeat: no-repeat;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

form {
    height: 600px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 1.0px;
    outline: none;
    border: none;
}

.demo {
    border: 1px sólido #000000;
    border-collapse: colapso;
    padding: 5px;
}

.demo th {
    border: 1px sólido #000000;
    padding: 10px;
    background: #733c02;
}

.demo td {
    padding: 5px;
    border: 2px solid black;
}

table {
    margin: 70px;
    border: 2px solid black;
    border-collapse: collapse;
}

img {
    width: 100px;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
}

.pizza {
    display: flex;
    flex-direction: column;
}

.orca {
    display: flex;
}